<!-- This isn't implemeneted yet, make sure to add correct fields and do proper validaiton - Jan 29--!>
<!--
<section data-ng-controller="ReviewsController" data-ng-init="redirectIfNotLoggedIn()">
    <div class="page-header">
        <h1>New Review</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
--!>
