<section class="container" data-ng-controller="ReviewsController" data-ng-init="redirectIfNotAuthorizedFindOne()">
	<div class="page-header row">
		<div class="col-lg-6">
			<h1>Create/Edit Review for {{review.userFor.displayName}}</h1>
		</div>
		<div class="col-lg-6">
			<div class="pull-right">
				<option-button 
					inject-button-type="href"
					inject-href="/#!/reviews/{{review._id}}" 
					inject-text="View Review">
				</option-button>
			</div>
		</div>
			
	</div>
	<form class="form-horizontal" data-ng-submit="updateAndRedirect()">
		<fieldset>
			<form-field 
				inject-field="score" 
				inject-type="number" 
				inject-model="review" 
				inject-required="true"
				inject-placeholder="5 Being Great"
				inject-min="0"
				inject-max="5">
			</form-field>
			<form-field 
				inject-field="description"
				inject-type="textarea" 
				inject-rows="4" 
				inject-max-length="{{descriptionMaxLength}}" 
				inject-model="review">
			</form-field>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<input type="submit" value="Save" class="btn btn-default">
					</div>
				</div>
			</div>
			<div data-ng-show="error" class="col-lg-12 text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</fieldset>
	</form>
</section>
