<section class="container" data-ng-controller="ReviewsController" data-ng-init="userCheck.redirectIfNotLoggedIn();findByUser(true,true)">
	<div class="page-header row">
		<div class="row">
			<div class="col-lg-12">
				<h1>My Completed Reviews</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<display-list inject-list="reviews" inject-module-name="review" inject-custom-template="2"></display-list>
		</div>
	</div>
</section>
