<section class="container" data-ng-controller="ReviewsController" data-ng-init="userCheck.redirectIfNotLoggedIn();findByUser(false,true)">
	<div class="page-header row">
		<div class="col-lg-12">
			<h1>My Pending Reviews</h1>
		</div>
	</div>
	<display-list inject-list="reviews" inject-module-name="review" ></display-list>
</section>
