<div data-ng-switch="customTemplate">
	<div data-ng-switch-default>
		<a data-ng-href="#!/reviews/{{review._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="review.created | date:'medium'"></span>
				by
				<span data-ng-bind="review.userCreated.displayName"></span>
			</small>
			<h4 class="list-group-item-heading">Review for {{review.userFor.displayName}}</h4>
		</a>
	</div>
	<div data-ng-switch-when="1">
	</div>
	<div data-ng-switch-when="2">
		<a data-ng-href="#!/reviews/{{review._id}}" style="text-decoration:none">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Review for: {{reviewFor.displayName}}
					<span class="badge pull-right">Score: {{review.score}} out of 5<span>
				</div>
				<div class="panel-body" style="height:100%">
						{{review.description}}
				</div>
				<div class="panel-footer">
					By {{writer.displayName}}
					
				</div>
			</div>
		</a>
	</div>
</div>
