<section class="container" data-ng-controller="ReviewsController" data-ng-init="findOneAndRedirectIfEmpty()">
	<div data-ng-if="review.created">
		<div class="page-header row">
			<div class="col-lg-6">
				<h1>Review for {{review.userFor.displayName}}</h1>
				<option-button
					inject-button-type="href"
					inject-href="/#!/castings/{{review.casting}}" 
					inject-text="View Casting">
				</option-button>
				<option-button
					inject-button-type="href"
					inject-href="/#!/users/profile/{{review.userFor.userUrl}}" 
					inject-text="View {{review.userFor.displayName}}'s Profile">
				</option-button>
			</div>
			<div class="col-lg-6">
				<div class="pull-right">
					<!--User that wrote post --!>
					<div data-ng-if="userCheck.isSignedIn() && userCheck.isSameUser(authentication.user, review.user)">
						<option-button
							inject-button-type="href"
							inject-href="/#!/reviews/{{review._id}}/edit" 
							inject-show-if="review.completed != true" 
							inject-text="Edit Review">
						</option-button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<small>
					<em class="text-muted">
						Posted on
						<span data-ng-bind="review.created | date:'mediumDate'"></span>
						by
						<a href="#!/users/profile/{{review.userCreated.userUrl}}">
						{{review.userCreated.displayName}}
						</a>
					</em>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<label>Score: </label>
				<span>{{review.score}}</span >
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<label>Description: </label>
				<span>{{review.description}}</span >
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div data-ng-if="userCheck.isSignedIn() && userCheck.isSameUser(authentication.user, review.user) && review.completed==false">
					<a class="btn btn-success" data-ng-click="accept();">
						<span>Submit Review</span>
					</a>

				</div>
			</div>
		</div>
	</div>
	<!--this section flashes while loading..
	<div data-ng-if="!review.created">
		<div class="page-header row">
			<div clas="col-lg-12">
				<p class="alert alert-danger">Review does not exist, or review has been removed</p>
			</div>

		</div>
	</div>
	--!>
</section>
