<section class="container">
	<div class="page-header row">
		<div class="col-lg-12">
			<h1>About</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<!--
			<h3 style="display:inline"><em>Casting Chops</em></h3>
			<p style="display:inline"> is a new startup focusing on people that have one-time castings (or chops!). 
			We know it's hard to trust people, and we've created a platform that goes beyond "I'm a hard worker", it's built on rock solid reviews <em>you can trust!</em>
			</p>
			--!>
		</div>
	<div>
</section>
