<section class="container">
	<div class="page-header row">
		<div class="col-lg-12">
			<h1>Contact Us</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<p>Email: <a href="mailto:{{globalSettings.infoEmail}}">{{globalSettings.infoEmail}}</a>.</p>
		</div>
	</div>
</section>
