<div class="row" data-ng-if="model[field]">
	
	<label class="col-lg-2 text-right">{{field | capitalize | camelCaseToHuman}}: </label>
	<span class="col-lg-10" data-ng-switch="type">
		<span data-ng-switch-when='text'>
			<span style="white-space: pre-wrap"> {{model[field]}}</span>
		</span>
		<span data-ng-switch-when='list'>
			<span class="label label-primary" data-ng-repeat="item in model[field]">{{item}}</span>
		</span>
	</span>
</div>
