<div data-ng-if="list.$resolved && list.length!==0" data-ng-init="pagination.start(list.length)">
	<!--Top Pagination nav--!>
	<nav class="row">
		<div class="col-lg-12">
			<pagination data-ng-model="pagination.currentPage"  num-pages="pagination.numberOfPages" items-per-page="pagination.itemsPerPage" total-items="pagination.totalItems" max-size="pagination.maxSize"></pagination>
		</div>
	</nav>
	<!--List of castings--!>
	<div data-ng-switch="viewType">
		<div data-ng-switch-when="grid">
			<div data-ng-repeat="item in list | offset: ((pagination.currentPage-1) * pagination.itemsPerPage) | limitTo:pagination.itemsPerPage">
				<div class="col-lg-3 grid-item">
					<div data-ng-switch="moduleName">
						<div data-ng-switch-when="application">
							<preview-application 
								inject-application="item" 
								inject-view-type="viewType"
								inject-list="list">
							</preview-application>
						</div>
						<div data-ng-switch-when="casting">
							<preview-casting 
								inject-casting="item" 
								inject-view-type="viewType"
								inject-custom-template="{{customTemplate}}">
							</preview-casting>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-switch-default>
			<div data-ng-repeat="item in list | offset: ((pagination.currentPage-1) * pagination.itemsPerPage) | limitTo:pagination.itemsPerPage"
				class="list-group row">
				<div class="col-lg-12">
					<div data-ng-switch="moduleName">
						<div data-ng-switch-when="casting">
							<preview-casting 
								inject-casting="item" 
								inject-custom-template="{{customTemplate}}">
							</preview-casting>
						</div>
						<div data-ng-switch-when="application">
							<preview-application 
								inject-application="item" 
								inject-custom-template="{{customTemplate}}">
							</preview-application>
						</div>
						<div data-ng-switch-when="user">
							<preview-user 
								inject-user="item" 
								inject-custom-template="{{customTemplate}}">
							</preview-user>
						</div>
						<div data-ng-switch-when="notification">
							<preview-notification 
								inject-notification="item"
								inject-custom-function="customFunction({notification: notification})"
								inject-custom-template="{{customTemplate}}">
							</preview-notification>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
			

	<!--Bottom pagination nav--!>
	<nav class="row">
		<div class="col-lg-12">
			<pagination data-ng-model="pagination.currentPage"  num-pages="pagination.numberOfPages" items-per-page="pagination.itemsPerPage" total-items="pagination.totalItems" max-size="pagination.maxSize"></pagination>
		</div>
	</nav>
</div>

<!--No castings loaded--!>
<div class="row" data-ng-if="!list.$resolved || !list.length">
	<div class="col-lg-12 alert alert-warning text-center" >
		There are no {{moduleName}}s.
	</div>
</div>
