<section class="container-fluid">
	<div class="container" data-ng-controller="FooterController">
		<br>
		<hr>
		<div class="text-center">
		<p>
			Comments and feedback welcomed. Email us at
			<a href="mailto:{{globalSettings.infoEmail}}">{{globalSettings.infoEmail}}</a>
		<p>
			<!--
			<a href="/#!/about">About</a> |
			<a href="/#!/contact">Contact</a>
			<a href="/#!/privacypolicy">Privacy</a> |
			<a href="/#!/termsofuse">Terms</a>
			--!>
			<div class="row">
				<p>
					<small > All rights reserved.</small>
				</p>
		</div>
		<br>
	</div>
</section>
