<div class="form-group">
	<label class="control-label col-lg-2" for="{{field}}">{{field | capitalize | camelCaseToHuman }}</label>
	<div class="col-lg-10">
		<div data-ng-if="required">
			<div data-ng-switch="type">
				<div data-ng-switch-when="text">
					<input 
						type="{{type}}" 
						data-ng-model="model[field]" 
						name="{{field}}"
						maxlength="{{maxLength}}" 
						placeholder="{{placeholder}}"
						class="form-control" required>
					<small data-ng-if="maxLength"><em class="text-muted">Max Length {{maxLength}} chars</em></small>
				</div>
				<div data-ng-switch-when="number">
						<input 
							type="{{type}}" 
							data-ng-model="model[field]" 
							name="{{field}}"
							min="{{min}}"
							max="{{max}}"
							placeholder="{{placeholder}}"
							class="form-control number-input" required>
						<!--
						<small>
							<em class="text-muted" data-ng-if="min">Min: {{min}}</em>
							<em class="text-muted" data-ng-if="max">Max: {{max}}</em>
						</small>
						--!>
				</div>
				<div data-ng-switch-when="textarea">
					<textarea 
						rows="{{rows}}" 
						maxlength="{{maxLength}}" 
						data-ng-model="model[field]" 
						placeholder="{{placeholder}}"
						name="{{field}}" 
						class="form-control" required>
					</textarea>
					<small data-ng-if="maxLength"><em class="text-muted">Max Length {{maxLength}} chars</em></small>
				</div>
				<div data-ng-switch-when="checkbox" class="checkbox">
					<input 
						type="{{type}}" 
						name="{{field}}"
						data-ng-model="model[field]" required>
				</div>
			</div>
		</div>
		<div data-ng-if="!required">
			<div data-ng-switch="type">
				<div data-ng-switch-when="text">
					<input 
						type="{{type}}" 
						data-ng-model="model[field]" 
						maxlength="{{maxLength}}"
						name="{{field}}" 
						placeholder="{{placeholder}}"
						class="form-control">
					<small data-ng-if="maxLength"><em class="text-muted">Max Length {{maxLength}} chars</em></small>
				</div>
				<div data-ng-switch-when="number">
						<input 
							type="{{type}}" 
							data-ng-model="model[field]" 
							name="{{field}}"
							min="{{min}}"
							placeholder="{{placeholder}}"
							max="{{max}}"
							class="form-control number-input">
						<small>
						<!--
							<em class="text-muted" data-ng-if="min">Min: {{min}}</em>
							<em class="text-muted" data-ng-if="max">Max: {{max}}</em>
						--!>
						</small>
				</div>
				<div data-ng-switch-when="textarea">
					<textarea 
						rows="{{rows}}" 
						maxlength="{{maxLength}}" 
						placeholder="{{placeholder}}"
						data-ng-model="model[field]" 
						name="{{field}}" 
						class="form-control">
					</textarea>
					<small data-ng-if="maxLength"><em>Max Length {{maxLength}} chars</em></small>
				</div>
				<div data-ng-switch-when="checkbox" class="checkbox">
					<input 
						type="{{type}}" 
						name="{{field}}"
						placeholder="{{placeholder}}"
						data-ng-model="model[field]">
				</div>
				<div data-ng-switch-when="select">
					<select data-ng-model="model[field]" data-ng-options='item for item in selectList'></select>
					<input type='hidden' data-ng-model="model[field]" name="{{field}}">
				</div>
				<!-- put data-ng-init="selectField=selectList[0] to default first option --!>
				<div data-ng-switch-when="selectForList">
					<select data-ng-model="selectField" data-ng-options='item for item in selectList'></select>
					<button type='button' class="btn btn-success" ng-click="addToList(selectField)">
						<i class="glyphicon glyphicon-plus"></i>
						Add</button>
					<span data-ng-repeat="item in model[field]">
						<button type='button' class='btn btn-primary btn-xs' data-ng-click="removeSelected(item)">
							{{item}}
						<i class="glyphicon glyphicon-remove"></i>
						</button>
					</span>
					<div class="text-danger" data-ng-show="model[field].error">
						{{model[field].error}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
