<section data-ng-controller="HomeController">
	<div class="container-fluid">
		<div class="row jumbotron home-landing text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Flowcast</h1>
					<hr style="margin: 30px auto;">
					<h2>The New Standard For Modeling and Acting Gigs.</h2>
					<!--
						Eliminating Email Applications for Models and Actors.
						Post and Find Modeling and Acting Jobs without the bs.
						Stop wasting time clicking through emails
						stop wasting time clicking through jobs that aren't for you.
						Don't waste your time...
						Reach your target audience.


						1) Problem
						2) Solution
					--!>
				</div>
			</div>
			<div class="row" style="padding-top:20px">
				<div class="col-lg-12">
					<span style="margin-right:10px">
						<a data-ng-if="!userCheck.isSignedIn()" class="btn btn-success btn-lg btn-emphasize" 
							data-ng-href="/#!/signup" data-ng-click="globalSettings.pushNextPage('/castings/create')">
							Post a Casting Call</a>
						<a data-ng-if="userCheck.isSignedIn()"class="btn btn-success btn-lg btn-emphasize"  
							data-ng-href="/#!/castings/create">Post a Casting Call</a>
					</span>
					<span style="margin-left:10px">
						<a class="btn btn-primary btn-lg" 
							data-ng-href="/#!/castings">
							Browse Casting Calls</a>
					</span>
				</div>
			</div>

			<!--
			<div class="row">
				<div class="col-lg-offset-1 col-lg-5 text-left">
					<div class="row">
						<h2>Looking for Models and Actors</h2> 
						<p> 
							Post jobs to a targeted audience now.
							
						</p>
					</div>
					<div class="row">
						<a data-ng-if="!userCheck.isSignedIn()" class="btn btn-success btn-lg" 
							style="font-size:120%" data-ng-href="/#!/signup" data-ng-click="globalSettings.pushNextPage('/castings/create')">
							Create a Casting Call</a>
						<a data-ng-if="userCheck.isSignedIn()"class="btn btn-success btn-lg" 
							style="font-size:120%" href="/#!/castings/create">Create a Casting Call</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-offset-6 col-lg-4 text-left">
					<div class="row">
						<h2>Models and Actors</h2>
						<p> 
							One button to find jobs just for you.
						</p>
					</div>
					<div class="row">
						<a data-ng-if="!userCheck.isSignedIn()" class="btn btn-success btn-lg" 
							data-ng-href="/#!/signup" 
							data-ng-click="globalSettings.pushNextPage('/castings');globalSettings.pushNextPage('/settings/profile')">
							Find Jobs</a>
						<a data-ng-if="userCheck.isSignedIn()" class="btn btn-success btn-lg" 
							data-ng-href="/#!/castings">
							Find Jobs</a>
					</div>
				</div>
			</div>
			--!>
		</div>
		<div class="container">
			<div class="row">
				<!--Castings Get Listed Here !-->
				<div listcastings>
				</div>
			</div>
		</div>
	</div>
</section>
