<!--use showIf!=false because showif can also be undefined or true !-->
<span data-ng-switch="buttonType" data-ng-if="showIf!=false">
	<span data-ng-switch-when="href-click">
		<a class="{{buttonClassExtension}} btn btn-primary" data-ng-click="clickFunction()" href="{{href}}">
			<i class="glyphicon {{prependIcon}}"></i>
			<span>{{text}}</span>
			<i class="glyphicon {{appendIcon}}"></i>
		</a>
	</span>
	<span data-ng-switch-when="href">
		<a class="{{buttonClassExtension}} btn btn-primary" href="{{href}}">
			<i class="glyphicon {{prependIcon}}"></i>
			<span>{{text}}</span>
			<i class="glyphicon {{appendIcon}}"></i>
		</a>
	</span>

	<span data-ng-switch-when="click">
		<a class="{{buttonClassExtension}} btn btn-primary" data-ng-click="clickFunction()">
			<i class="glyphicon {{prependIcon}}"></i>
			<span>{{text}}</span>
			<i class="glyphicon {{appendIcon}}"></i>
		</a>
	</span>
	<span data-ng-switch-when="disabled">
		<a class="{{buttonClassExtension}} btn btn-primary" 
			disabled="disabled"
			>
			<i class="glyphicon {{prependIcon}}"></i>
			<span>{{text}}</span>
			<i class="glyphicon {{appendIcon}}"></i>
		</a>
	</span>
</span>
