<section class="container">
	<div class="page-header row">
		<div class="col-lg-12">
			<h1>Privacy Policy</h1>
		</div>
	</div>
	<div class="row">
		<!--
		<div class="col-lg-12">
			<p>By using www.castingchops.com (Casting Chops) you give us the right to collect, use, and store your personal information. We will not share your personal information with any third parties. 		
			</p>
			<p>Effective February 17, 2015. Policy is subject to change.
			</p>
		</div>
		--!>
	<div>
</section>
