<section class="container-fluid" data-ng-controller="QstatsController" data-ng-init="initNumberOfLoginVars()">
	<div class="container">
		Our secret page for stats
		<ul>
			<li>Total Users: {{totalUsers}}</li>
			<li>Total Profile Picture Uploaded: {{totalPics}}</li>
			<li>Total Castings: {{totalCastings}}</li>
			<li>Total Applications: {{totalApplications}}</li>
		</ul>
	</div>
</section>
