<section class="container">
	<div class="page-header row">
		<div class="col-lg-12">
			<h1>Terms of Use</h1>
		</div>
	</div>
	<!--
	<div class="row">
		<div class="col-lg-12">
			<p> By accessing www.castingchops.com(Casting Chops) you agree to the following terms. Effective February 17, 2015. Terms are subject to change.
			</p>
			You will not: 
			<ul>
				<li>Violate any laws.</li>
				<li>Attempt to disrupt the ability of Casting Chops to provide service.</li>
				<li>Exploit bugs, errors, or any type of feature not inteded.</li>
				<li>Be Misleading or false.</li>
			</ul>
			<p>Service may be terminated at any time at our discretion.
		</div>
	</div>
	--!>
</section>
