<section class="container" data-ng-controller="AuthenticationController">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
			<h1>Sign In</h1>
			<hr>
			<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
				<fieldset>
					<div class="form-group">
						<label for="username">Email</label>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password">
					</div>
					<div class="text-center form-group">
						<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
						<a href="/#!/signup">Sign up</a>
					</div>
					<!--
					<div class="forgot-password">
						<a href="/#!/password/forgot">Forgot your password?</a>
					</div>
					--!>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>
