.label {
	border-radius: 10px;
	padding: 5px 15px 6px;
}

.navbar-nav li a { /*Shows on top bar*/
	padding: 20px 15px 15px;
}
.navbar-nav ul li a { /*Shows when clicking top bar item*/
	padding: 6px 20px;
}

.navbar-brand {
	padding: 20px 15px 15px;

}
.container-fluid .jumbotron {
	border-radius:0;
	padding-top: 100px;
	padding-bottom: 100px;
}
.panel-blank {
	border: 1px solid #eee;
}
.panel-blank .panel-footer {
	background-color:white;
}
