.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.userImage {
	max-width:200px;
	max-height:200px;
	margin-left: auto;
	margin-right: auto;
}

.grid-item {
	height: 400px;
	max-height:400px;
}

.poster-img-lg {
	max-width:300px;
	max-height:300px;
	margin-left:auto;
	margin-right:auto;
}
.poster-img-sm {
	max-width: 200px;
	max-height:200px;
	margin-left:auto;
	margin-right:auto;
}
