.home-landing {
	background-image:
		linear-gradient(
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.5)),
		url('../../../images/one.jpg');
	background-position: left center;
	background-size: cover;
	color:white;
	text-shadow: 0 1px 0 black;
}

.home-landing p {
	/*
	background-color: black;
	*/
	        
	margin-bottom: 10px;

}
.home-landing h2 {
	margin-bottom: 20px;
}

.btn-emphasize {
	font-size:150%;
}
