<section class="container" data-ng-controller="CastingsController" data-ng-init="userCheck.redirectIfNotLoggedIn('/castings/create')">
	<div class="page-header row">
		<div class="col-lg-12">
			<h1>Create New Casting Call</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<div class="row">
				<div class="col-lg-12" data-ng-if="casting_pic_url">
						<img ng-src="{{casting_pic_url}}" class="poster-img-sm img-responsive">
						<option-button
							inject-button-type="click"
							inject-click-function="removePic(casting_pic_url)" 
							inject-text="Remove Current Picture">
						</option-button>
				</div> 
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label>Upload Picture</label>
				</div>
				<div class="panel-body">
					<input type="file" name="file" file>
				</div>
				<div class="panel-footer">
					<option-button
						inject-button-type="click"
						inject-click-function="upload('temp_casting_pics')" 
						inject-text="Upload">
					</option-button>
					<div class="progress"> 
						<div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
						{{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
						</div>
					</div>   
				</div>
			</div>
		</div>
	</div>
	<form class="form-horizontal" data-ng-submit="create()" name="createCastingForm">
		<fieldset>
			<form-field 
				inject-field="title" 
				inject-type="text"
				inject-placeholder="Project Title and Role"
				inject-max-length="{{titleMaxLength}}"
				inject-model="newCasting" 
				inject-required="true">
			</form-field>
			<form-field 
				inject-field="description"
				inject-type="textarea" 
				inject-rows="4" 
				inject-max-length="{{descriptionMaxLength}}" 
				inject-placeholder="Project Description and Role Description"
				inject-required="true"
				inject-model="newCasting">
			</form-field>
			<form-field 
				inject-field="payment" 
				inject-type="text"
				inject-placeholder="If there is no payment, please type 'no payment'"
				inject-max-length="{{paymentMaxLength}}"
				inject-required="true"
				inject-model="newCasting" 
				inject-required="true">
			</form-field>
			<form-field 
				inject-field="youtubeUrl" 
				inject-type="text" 
				inject-placeholder="Promo Video"
				inject-model="newCasting" >
			</form-field>
			<div class="row">
				<div class="col-lg-12">
					<hr>
					<label>Characteristics: </label>
					<p class="text-muted">
						Have a specific trait you're looking for? Send us an email at 
						<a href="mailto:{{globalSettings.infoEmail}}">{{globalSettings.infoEmail}}</a>
					</p>
				</div>
			</div>
			<form-field 
				inject-field="union" 
				inject-type="select" 
				inject-model="newCasting"
				inject-select-list="selectionLists.castingUnion">
			</form-field>
			<form-field 
				inject-field="gender" 
				inject-type="select" 
				inject-model="newCasting"
				inject-select-list="selectionLists.genders">
			</form-field>
			<div class="form-group form-inline">
				<label class="col-lg-2 control-label">Height Range (In Feet)</label>
				<span class="col-lg-10">
					<input 
						type="number" 
						data-ng-model="newCasting.heightMin" 
						name="heightMin"
						placeholder="Minimum Height"
						step=".1"
						min="{{globalSettings.heightMin}}"
						class="form-control number-input">
					<label class="control-label"> To </label> 
					<input 
						type="number" 
						data-ng-model="newCasting.heightMax" 
						name="heightMax"
						placeholder="Maximum Height"
						step=".1"
						max="{{globalSettings.heightMax}}"
						class="form-control number-input">
						<p class="text-muted">Please fill both if using.</p>
				</span>
			</div>
			<div class="form-group form-inline">
				<label class="col-lg-2 control-label">Portrayable Age From</label>
				<span class="col-lg-10">
					<input 
						type="number" 
						data-ng-model="newCasting.portrayableAgeMin" 
						name="portrayableAgeMin"
						placeholder="Minimum Age"
						min="{{globalSettings.ageMin}}"
						class="form-control number-input">
					<label class="control-label"> To </label> 
					<input 
						type="number" 
						data-ng-model="newCasting.portrayableAgeMax" 
						name="portrayableAgeMax"
						placeholder="Maximum Age"
						max="{{globalSettings.ageMax}}"
						class="form-control number-input">
						<p class="text-muted">Please fill both if using.</p>
				</span>
			</div>
			<form-field
				inject-field="languages" 
				inject-type="selectForList" 
				inject-model="newCasting"
				inject-select-list="selectionLists.languages">
			</form-field>
			<form-field
				inject-field="skills" 
				inject-type="selectForList" 
				inject-model="newCasting"
				inject-select-list="selectionLists.skills">
			</form-field>
			<form-field
				inject-field="portrayableEthnicity" 
				inject-type="selectForList" 
				inject-model="newCasting"
				inject-select-list="selectionLists.portrayableEthnicity">
			</form-field>
			<div class="form-group">
				<div class="col-lg-12">
					<input type="submit" class="btn btn-default">
				</div>
			</div>
			<div class="form-group">
				<div data-ng-show="error" class="text-danger col-lg-12">
					<strong data-ng-bind="error"></strong>
				</div>
			</div>
		</fieldset>
	</form>
</section>
