<section class="container" data-ng-controller="CastingsController" data-ng-init="ifNotAuthorizedRedirectFindOne()">
	<!--Header Area--!>
	<div class="page-header row">
		<!--Header Data--!>
		<div class="col-lg-6">
			<h1>Edit Casting Call</h1>
		</div>
		<!--Header Buttons--!>
		<div class="col-lg-6">
			<div class="pull-right">
			<!-- Don't need remove casting atm
				<option-button 
					inject-button-type="click"
					inject-click-function="remove()" 
					inject-text="Delete Casting">
				</option-button>
			--!>
				<option-button
					inject-button-type="href"
					inject-href="#!/castings/{{casting._id}}" 
					inject-text="View Casting">
				</option-button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
			<div class="row">
				<div class="col-lg-12" data-ng-if="casting.movie_img_url">
					<img ng-src="{{casting.movie_img_url}}" class="poster-img-sm img-responsive">
					<option-button
						inject-button-type="click"
						inject-click-function="removePicture(casting.movie_img_url,false)" 
						inject-text="Remove Current Picture">
					</option-button>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label>Upload New Picture</label>
				</div>
				<div class="panel-body">
					<input type="file" name="file" file>
				</div>
				<div class="panel-footer">
					<option-button
						inject-button-type="click"
						inject-click-function="upload('temp_casting_pics')" 
						inject-text="Upload">
					</option-button>
					<div class="progress"> 
								<div class="progress-bar" role="progressbar" 
								aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" 
								aria-valuemax="100" style="width: {{ uploadProgress }}%;">
								{{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
								</div>
					</div>   
				</div>
			</div>
		</div>
	</div>
	<!--Body--!>
	<form class="form-horizontal" data-ng-submit="updateAndRedirect()">


		<fieldset>
			<form-field 
				inject-field="title" 
				inject-type="text" 
				inject-placeholder="Project Title and Role"
				inject-max-length="{{titleMaxLength}}"
				inject-model="casting" 
				inject-required="true">
			</form-field>
			<form-field 
				inject-field="description"
				inject-type="textarea" 
				inject-rows="4" 
				inject-max-length="{{descriptionMaxLength}}" 
				inject-placeholder="Project Description and Role Description"
				inject-model="casting">
			</form-field>
			<form-field 
				inject-field="payment" 
				inject-type="text"
				inject-placeholder="If there is no payment, please type 'no payment'"
				inject-max-length="{{paymentMaxLength}}"
				inject-required="true"
				inject-model="casting" 
				inject-required="true">
			</form-field>
			<form-field 
				inject-field="youtubeUrl" 
				inject-type="text" 
				inject-placeholder="Promo Video"
				inject-model="casting" >
			</form-field>

			<div class="row">
				<div class="col-lg-12">
					<hr>
					<label>Optional Characteristics: </label>
					<p class="text-muted">
						Have a specific trait you're looking for? Send us an email at 
						<a href="mailto:{{globalSettings.infoEmail}}">{{globalSettings.infoEmail}}</a>
					</p>
				</div>
			</div>
			<form-field 
				inject-field="union" 
				inject-type="select" 
				inject-model="casting"
				inject-select-list="selectionLists.castingUnion">
			</form-field>
			<form-field 
				inject-field="gender" 
				inject-type="select" 
				inject-model="casting"
				inject-select-list="selectionLists.genders">
			</form-field>
			<div class="form-group form-inline">
				<label class="col-lg-2 control-label">Height Range (In Feet)</label>
				<span class="col-lg-10">
					<input 
						type="number" 
						data-ng-model="casting.heightMin" 
						name="heightMin"
						placeholder="Minimum Height"
						step=".1"
						min="{{globalSettings.heightMin}}"
						class="form-control number-input">
					<label class="control-label"> To </label> 
					<input 
						type="number" 
						data-ng-model="casting.heightMax" 
						name="heightMax"
						placeholder="Maximum Height"
						step=".1"
						max="{{globalSettings.heightMax}}"
						class="form-control number-input">
						<p class="text-muted">Please fill both if using.</p>

				</span>
			</div>
			<div class="form-group form-inline">
				<label class="col-lg-2 control-label">Portrayable Age From</label>
				<span class="col-lg-10">
					<input 
						type="number" 
						data-ng-model="casting.portrayableAgeMin" 
						name="portrayableAgeMin"
						placeholder="Minimum Age"
						min="{{globalSettings.ageMin}}"
						class="form-control">
					<label class="control-label"> To </label> 
					<input 
						type="number" 
						data-ng-model="casting.portrayableAgeMax" 
						name="portrayableAgeMax"
						placeholder="Maximum Age"
						max="{{globalSettings.ageMax}}"
						class="form-control">
						<p class="text-muted">Please fill both if using.</p>
				</span>
			</div>
			<form-field
				inject-field="languages" 
				inject-type="selectForList" 
				inject-model="casting"
				inject-select-list="selectionLists.languages">
			</form-field>
			<form-field
				inject-field="skills" 
				inject-type="selectForList" 
				inject-model="casting"
				inject-select-list="selectionLists.skills">
			</form-field>
			<form-field
				inject-field="portrayableEthnicity" 
				inject-type="selectForList" 
				inject-model="casting"
				inject-select-list="selectionLists.portrayableEthnicity">
			</form-field>
			<div class="form-group">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-large btn-primary">Save Casting</button>
				</div>
			</div>
			<div class="form-group">
				<div data-ng-show="error" class="col-lg-12 text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</div>
		</fieldset>
	</form>
</section>
