<section class="container" data-ng-controller="CastingsController" data-ng-init="find()">
	<div data-ng-show="castings.$resolved && castings.length!==0">
		<div class="page-header">
			<div class="row">
				<div class="col-lg-12">
					<h1>Latest Casting Calls
					<option-button
						inject-button-type="href"
						inject-href="/#!/castings" 
						inject-text="Browse All Casting Calls">
					</option-button>
					</h1>
				</div>
			</div>
		</div>
		<div data-ng-repeat="casting in castings | limitTo:3">
			<div class="list-group row">
				<div class="col-lg-12">
					<preview-casting inject-casting="casting" inject-custom-template="withLabels" data-ng-if="userCheck.isSignedIn()">
					</preview-casting>
					<preview-casting inject-casting="casting" data-ng-if="!userCheck.isSignedIn()">
					</preview-casting>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-warning text-center" data-ng-hide="!castings.$resolved || castings.length">
					No Castings yet, why don't you <a href="/#!/castings/create">create one</a>?
				</div>
			</div>
		</div>
	</div>
</section>
