<section class="container" data-ng-controller="CastingsController" data-ng-init="find(authentication.user)">
	<div class="page-header row">
		<!--Header Data--!>
		<div class="col-lg-6">
			<h1>Casting Calls</h1>
			<!--Filter buttons--!>
			<div data-ng-if="userCheck.isSignedIn()">
				<option-button
					inject-button-type="click"
					inject-click-function="find(authentication.user)"
					inject-text="Recomended Castings">
				</option-button>
				<option-button
					inject-button-type="click"
					inject-click-function="find()"
					inject-text="All Castings">
				</option-button>
			</div>
		</div>
		<!--Header Buttons--!>
		<div class="col-lg-6">
			<div class="pull-right">
				<option-button
					inject-button-type="href"
					inject-href="/#!/castings/create" 
					inject-show-if="userCheck.isSignedIn()" 
					inject-text="Create New Casting Call">
				</option-button>
			</div>
		</div>

	</div>
	<!--List Castings--!>
	<display-list 
		inject-list="castings" inject-view-type="grid" inject-module-name="casting" inject-custom-template="withLabels">
	</display-list>

	<!--
	<display-list data-ng-if="userCheck.isSignedIn()" 
		inject-list="castings" inject-module-name="casting" inject-custom-template="withLabels">
	</display-list>
	<display-list data-ng-if="!userCheck.isSignedIn()" 
		inject-list="castings" inject-module-name="casting">
	</display-list>
	--!>
</section>
