<section class="container" data-ng-controller="ApplicationsController" data-ng-init="userCheck.redirectIfNotLoggedIn();find()">
	<div class="page-header row">
		<!--Header Data--!>
		<div class="col-lg-12">
			<h1>Casting Calls I've Applied To</h1>
		</div>
	</div>
	<!--
	<display-list inject-list="applications" inject-module-name="application" inject-nested-field="casting_applied_for" inject-custom-template="1"></display-list>
	--!>
	<display-list inject-list="applications" inject-module-name="application"></display-list>
</section>
