<section class="container" data-ng-controller="CastingsController" data-ng-init="userCheck.redirectIfNotLoggedIn();findMyCreatedCastings()">
<!--Page Header--!>
	<div class="page-header">
		<div class="row">
			<!--Header Data--!>
			<div class="col-lg-12">
				<h1>My Created Casting Calls</h1>
			</div>
		</div>
	</div>
<!--Page body --!>
	<!--List castings--!>
	<display-list inject-list="castings" inject-module-name="casting"></display-list>
</section>
