<section>
	<div data-ng-switch="viewType">
		<div class="panel panel-blank" data-ng-switch-when="grid">
			<div class="panel-heading text-center">
				<h3 class="panel-title">{{casting.title}}</h3>
			</div>
			<div class="panel-body">
				<a data-ng-href="#!/castings/{{casting._id}}" style="text-decoration:none">
					<span data-ng-if="casting.movie_img_url">
							<img class="img-responsive userImage" ng-src="{{casting.movie_img_url}}">
					</span>
					<span data-ng-if="!casting.movie_img_url">
							<img class="img-responsive poster-img-sm" 
							ng-src="http://placehold.it/{{globalSettings.applicationProfileImageWidth}}x{{globalSettings.applicationProfileImageHeight}}&text=No+Image">
					</span>
				</a>
			</div>
			<div class="panel-footer">
				<div class="row" data-ng-if="casting.payment">
					<div class="col-lg-12">
						Payment: {{casting.payment}}
					</div>
				</div>
				<div class="row" data-ng-if="casting.gender">
					<div class="col-lg-12">
						Gender: {{casting.gender}}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" data-ng-if="casting.heightMin && casting.heightMax">
						Height: {{casting.heightMin}} To {{casting.heightMax}}
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12" data-ng-if="casting.portrayableAgeMin && casting.portrayableAgeMax">
						Portrayable Age: {{casting.portrayableAgeMin}} To {{casting.portrayableAgeMax}}
					</div>
				</div>
			</div>
		</div>
		<div data-ng-switch-default><!--rows--!>
			<a data-ng-href="#!/castings/{{casting._id}}" class="list-group-item">
				<div data-ng-switch="customTemplate">
					<div data-ng-switch-when="withLabels">
						<span class="pull-right">
							<span class="label label-success" style="display:inline-block;font-size:100%" 
								data-ng-if="checkCharacteristics.castingAndUserMatch(casting, authentication.user) &&
									casting.progress!=='closed' &&
									!userCheck.isCurrentUser(casting.user)">
								Able to Apply
							</span>
							<span class="label label-default" style="display:inline-block;font-size:100%" 
								data-ng-if="!checkCharacteristics.castingAndUserMatch(casting, authentication.user)&&
									casting.progress!=='closed' &&
									!userCheck.isCurrentUser(casting.user)">
								Not Able to Apply
							</span>
							<span class="label label-default" style="display:inline-block;font-size:100%" 
								data-ng-if="casting.progress==='closed'">
								Closed
							</span>
							<span class="label label-primary" style="display:inline-block;font-size:100%" 
								data-ng-if="userCheck.isCurrentUser(casting.user)">
								Your Post
							</span>
							
						</span>
					</div>
					<div data-ng-switch-default>
					</div>
				</div>
				<div class="list-group-item-text">
					<small>
						<em class="text-muted">
							Posted on {{casting.created | date:'MMM dd'}}
						</em>
					</small>
				</div>
				<div class="list-group-item-heading">
					{{casting.title}}
				</div>
				<div class="list-group-item-text" data-ng-if="casting.payment">
					Payment: {{casting.payment}}
				</div>
			</a>
		</div>
	</div>
</section>
