<section class="container" data-ng-controller="CastingsController" data-ng-init="findOne()">
	<div data-ng-if="casting.title">
	<!--Header Area --!>
		<div class="page-header row" >
		<!--Header Data--!>
			<div class="col-lg-6">
				<div>
				<h1 style="display:inline-block">{{casting.title}}</h1>
				<span class="label label-default" data-ng-if="casting.progress=='closed'">Closed</span>
				</div>
				<small>
					<em class="text-muted">
						Posted on
						<span data-ng-bind="casting.created | date:'MMM dd'"></span>
						by
						<a href="/#!/users/profile/{{casting.user.userUrl}}">{{casting.user.displayName}}</a>
						<br>
					</em>
				</small>
			</div> 
		<!--Header Buttons --!>
			<div class="col-lg-6">
				<div class="pull-right">
				<!--User that created post-->
					<div data-ng-if="userCheck.isSignedIn() && userCheck.isSameUser(authentication.user, casting.user)" >
						<option-button
							inject-button-type="href"
							inject-href="/#!/castings/{{casting._id}}/edit" 
							inject-show-if="casting.progress == 'hiring'" 
							inject-text="Edit Casting">
						</option-button>
						<option-button
							inject-button-type="href"
							inject-button-class-extension="btn-success"
							inject-href="/#!/castings/{{casting._id}}/listApplications" 
							inject-show-if="casting.progress == 'hiring'" 
							inject-text="View Applications">
						</option-button>
						<option-button
							inject-button-type="click"
							inject-button-class-extension="btn-warning"
							inject-click-function="closeCastingAndRefresh()" 
							inject-show-if="casting.progress=='hiring'" 
							inject-text="Close Casting Call">
						</option-button>
					</div>
				<!--Users that did not create post --!>
					<div data-ng-if="userCheck.isSignedIn() && !userCheck.isSameUser(authentication.user, casting.user)">
					<!--casting progress = hiring!-->
						<div data-ng-controller="ApplicationsController" data-ng-init="findSpecific(authentication.user._id)" data-ng-if="casting.progress == 'hiring'">
							<option-button
								inject-button-type="href"
								inject-href="/#!/applications/{{application._id}}" 
								inject-show-if="alreadyapplied" 
								inject-text="View My Application">
							</option-button>
							<!--Users that do criteria--!>
							<div data-ng-if="checkCharacteristics.castingAndUserMatch(casting,authentication.user)">
								<option-button
									inject-button-type="href"
									inject-href="/#!/castings/{{casting._id}}/apply" 
									inject-show-if="!alreadyapplied"
									inject-text="Apply to Casting">
								</option-button>
							</div>
							<!--Users that do NOT fit criteria--!>
							<div data-ng-if="!checkCharacteristics.castingAndUserMatch(casting,authentication.user)">
								<option-button
									inject-button-type="click"
									inject-button-class-extension = "btn-danger"
									inject-click-function="checkCharacteristics.characteristicsNotEqualAlert('Sorry, you do not meet the requirements for the casting')"
									inject-show-if="!alreadyapplied"
									inject-text="Apply to Casting">
								</option-button>
							</div>
						</div> 
					</div> 
				<!--Public user...not signed in yet!-->
					<div data-ng-if="!userCheck.isSignedIn()">
							<option-button
								inject-button-type="href-click"
								inject-href="/#!/signin" 
								inject-click-function="globalSettings.pushNextPage('/castings/' + casting._id)"
								inject-text="Apply Now">
							</option-button>
					</div>
				</div> 
			</div> 
		</div> 

	<!--Body--!>
		<!--Casting Information --!>

		<div class="row" >
			<div class="col-lg-6">
				<a ng-href="{{casting.movie_img_url}}" data-ng-if="casting.movie_img_url">
					<img ng-src="{{casting.movie_img_url}}" class="poster-img-lg img-responsive">
				</a>
			</div>
			<div class="col-lg-6">
				<iframe data-ng-if="youtubeUrlEmbed" width="560" height="315" src="{{youtubeUrlEmbed}}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div> 
		<hr>


		<display-field
			inject-type="text"
			inject-model="casting"
			inject-field="payment"
		>
		</display-field>
		<display-field
			inject-type="text"
			inject-model="casting"
			inject-field="description"
		>
		</display-field>
		<hr>
		<div class="row" data-ng-if="casting.heightMin && casting.heightMax">
			<label class="col-lg-2 text-right">Height Range (In Feet)</label>
			<span class="col-lg-10">
				{{casting.heightMin}} To {{casting.heightMax}}
			</span>
		</div>
		<div class="row" data-ng-if="casting.portrayableAgeMin || casting.portrayableAgeMax">
			<label class="col-lg-2 text-right">Portrayable Age From: </label>
			<span class="col-lg-10">
				{{casting.portrayableAgeMin}} To {{casting.portrayableAgeMax}}
			</span>
		</div>
		<display-field
			inject-type="text"
			inject-model="casting"
			inject-field="union">
		</display-field>
		<display-field
			inject-type="text"
			inject-model="casting"
			inject-field="gender">
		</display-field>
		<display-field
			inject-type="list"
			inject-model="casting"
			inject-field="portrayableEthnicity">
		</display-field>
		<display-field
			inject-type="list"
			inject-model="casting"
			inject-field="languages">
		</display-field>
		<display-field
			inject-type="list"
			inject-model="casting"
			inject-field="skills">
		</display-field>
		<!--If Casting Complete --!>
		<!--
		<div class="row">
			<div data-ng-if="casting.review.for_employer.completed==true || casting.review.for_employee.completed==true">
				<hr>
				<div class="col-lg-6" data-ng-if="casting.review.for_employer.completed==true">
					<label>Review for Employer</label>
					<preview-review 
						inject-custom-template="2" 
						inject-review-for="casting.user" 
						inject-review="casting.review.for_employer" 
						inject-writer="casting.employee">
					</preview-review>
				</div>
				<div class="col-lg-6" data-ng-if="casting.review.for_employee.completed==true">
					<label>Review for Employee</label>
					<preview-review 
						inject-custom-template="2" 
						inject-review-for="casting.employee" 
						inject-review="casting.review.for_employee" 
						inject-writer="casting.user">
					</preview-review>
				</div>
			</div>
		</div>
	</div>
	--!>
	<!--It flashes this section while loading....
	<div data-ng-if="!casting.title">
		<div class="page-header row">
			<div clas="col-lg-12">
				<p class="alert alert-danger">Casting does not exist, or casting has been removed</p>
			</div>

		</div>
	</div>
	--!>
</section>
