<section class="container" data-ng-controller="SettingsController" data-ng-init="listAllPictures()">
	<div class="page-header row" data-ng-if="globalSettings.checkNextPage()!='/castings'">
		<div class="col-lg-6">
			<h1 style="display:inline">Edit Profile</h1>
		</div>
		<div class="col-lg-6">
			<div class="pull-right">
				<option-button
					inject-button-type="href"
					inject-href="#!/users/profile/{{user.userUrl}}" 
					inject-text="View Profile">
				</option-button>
			</div>
		</div>
	</div>
	<div class="page-header row" data-ng-if="globalSettings.checkNextPage()=='/castings'">
		<div class="col-lg-6">
			<h1 style="display:inline">Complete Profile</h1>
			<option-button
				inject-button-type="click"
				inject-click-function="updateUserProfile(userForm.$valid)" 
				inject-text="Skip">
			</option-button>
		</div>
	</div>


<!--
	<option-button
		inject-button-type="click"
		inject-click-function="upload(false)" 
		inject-text="Upload as an Additional Picture">
	</option-button>


	<div ng-repeat="pic_url in picturesList" ng-click = "toggle(pic_url)" >
		
		<img ng-src="{{pic_url}}" 
		style="max-width:{{globalSettings.profileImageWidth}}px; 
		max-height:{{globalSettings.profileImageHeight}}px" image-click="pic_url" val="{{pic_url}}" >
	
	</div>

	<option-button
		inject-button-type="click"
		inject-click-function="removePicture(selected_picture,false)" 
		inject-text="Remove Selected Picture">
	</option-button>


	<option-button
		inject-button-type="click"
		inject-click-function="setProfilePicture(selected_picture)" 
		inject-text="Set Selected Picture as Profile Picture">
	</option-button>
--!>

	<div class="row">
		<div class="col-lg-2">
			<div class="row">
				<div class="col-lg-12" data-ng-show="{{hasProfilePic}}">
					<img ng-src="{{profilePicUrl}}" class="userImage img-responsive">
					<option-button
						inject-button-type="click"
						inject-click-function="removePicture(user.profilePicUrl,true)" 
						inject-text="Remove Profile Picture">
					</option-button>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<label>Upload New Profile Picture</label>
				</div>
				<div class="panel-body">
					<input type="file" name="file" file>
				</div>
				<div class="panel-footer">
					<option-button
						inject-button-type="click"
						inject-click-function="upload(true)" 
						inject-text="Upload">
					</option-button>
					<div class="progress"> 
						<div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
						{{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
						</div>
					</div>   
				</div>
			</div>
		</div>
	</div>
	<hr>
	<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
	<fieldset>
			<form-field 
				inject-field="overview"
				inject-type="textarea" 
				inject-rows="4" 
				inject-placeholder="Talk about yourself!"
				inject-max-length="{{overviewMaxLength}}" 
				inject-model="user">
			</form-field>
			<form-field 
				inject-field="workHistory"
				inject-type="textarea" 
				inject-rows="4"
				inject-max-length="{{overviewMaxLength}}" 
				inject-model="user">
			</form-field>
			<form-field 
				inject-field="youtubeUrl" 
				inject-type="text" 
				inject-model="user" >
			</form-field>
			<p class="text-muted col-lg-offset-2">
				Recommended to put video reel.
			</p>
			<hr>
			<label>Characteristics</label>
			<p class="text-muted">
				Have a specific trait you're looking for? Send us an email at 
				<a href="mailto:{{globalSettings.infoEmail}}">{{globalSettings.infoEmail}}</a>
			</p>
			<form-field
				inject-field="union" 
				inject-type="select" 
				inject-model="user"
				inject-select-list="selectionLists.userUnion">
			</form-field>
			<form-field 
				inject-field="gender" 
				inject-type="select" 
				inject-model="user"
				inject-select-list="selectionLists.genders">
			</form-field>
			<div class="form-group form-inline">
				<label class="col-lg-2 control-label">Height (In Feet)</label>
				<span class="col-lg-10">
					<input 
						type="number" 
						data-ng-model="user.height" 
						name="height"
						step=".1"
						class="form-control number-input">
				</span>
			</div>
			<div class="form-group form-inline">
				<label class="col-lg-2 control-label">Portrayable Age</label>
				<span class="col-lg-10">
					<input 
						type="number" 
						data-ng-model="user.portrayableAgeMin" 
						name="portrayableAgeMin"
						placeholder="Minimum Age"
						min={{globalSettings.ageMin}}"
						class="form-control number-input">
					<label class="control-label"> To </label> 
					<input 
						type="number" 
						data-ng-model="user.portrayableAgeMax" 
						name="portrayableAgeMax"
						placeholder="Maximum Age"
						max="{{globalSettings.ageMax}}"
						class="form-control number-input">
						<p class="text-muted">Please fill both if using.</p>
				</span>
			</div>
			<form-field
				inject-field="languages" 
				inject-type="selectForList" 
				inject-model="user"
				inject-select-list="selectionLists.languages">
			</form-field>
			<form-field
				inject-field="skills" 
				inject-type="selectForList" 
				inject-model="user"
				inject-select-list="selectionLists.skills">
			</form-field>
			<form-field
				inject-field="portrayableEthnicity" 
				inject-type="selectForList" 
				inject-model="user"
				inject-select-list="selectionLists.portrayableEthnicity">
			</form-field>
			<div class="form-group">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
					<div data-ng-show="success" class="text-center text-success">
						<strong>Profile Saved Successfully</strong>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</section>
