<section class="container" data-ng-controller="ApplicationsController" data-ng-init="redirectIfApplied()">
	<div class="page-header row">
		<div class="col-lg-12">
			<h1>New Application</h1>
		</div>
	</div>
	<form class="form-horizontal" data-ng-submit="create()">
		<fieldset>
			<form-field 
				inject-field="message"
				inject-type="textarea" 
				inject-rows="4"
				inject-placeholder="A message is not required, but recommended."
				inject-max-length="{{messageMaxLength}}" 
				inject-model="newApplication">
			</form-field>
			<form-field 
				inject-field="contactInfo"
				inject-type="text" 
				inject-placeholder="Provide contact information"
				inject-model="newApplication"
				inject-required="true">
			</form-field>
			<div class="form-group">
				<label class="control-label col-lg-2">Profile Picture: </label>
				<span class="col-lg-10">Don't worry, your profile picture is sent with your application!</span>
			</div>

			<div class="form-group">
				<div class="col-lg-12">
					<input type="submit" class="btn btn-default">
				</div>
			</div>
			<div data-ng-show="error" class="col-lg-12 text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</fieldset>
	</form>
</section>
