<section class="container" data-ng-controller="ApplicationsController" data-ng-init="ifNotHiringOrAuthorizedRedirectFindOne()">
	<div class="page-header row">
	<!--Header Data--!>
		<div class="col-lg-6">
			<h1>Edit Application</h1>
		</div>
	<!--Header Buttons --!>
		<div class="col-lg-6">
			<div class="pull-right">
				<option-button
					inject-button-type="click"
					inject-click-function="remove()" 
					inject-text="Delete Application">
				</option-button>
				<option-button
					inject-button-type="href"
					inject-href="/#!/applications/{{application._id}}" 
					inject-show-if="alreadyapplied" 
					inject-text="View My Application">
				</option-button>
			</div>
		</div>
	</div>
	<form class="form-horizontal" data-ng-submit="updateAndRedirect()">
		<fieldset>
			<form-field 
				inject-field="message"
				inject-type="textarea" 
				inject-rows="4" 
				inject-max-length="{{messageMaxLength}}" 
				inject-model="application">
			</form-field>
			<form-field 
				inject-field="contactInfo"
				inject-type="text" 
				inject-placeholder="Provide contact information."
				inject-model="application"
				inject-required="true">
			</form-field>
			<div class="form-group">
				<div class="col-lg-12">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
			</div>
			<div class="form-group">
				<div data-ng-show="error" class="col-lg-12 text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</div>
		</fieldset>
	</form>
</section>
