<section class="container" data-ng-controller="ApplicationsController" data-ng-init="findSpecific('', '')">
	<div class="page-header row">
		<div class="col-lg-12">
			<h1>Applications for Casting</h1>
			<option-button
				inject-button-type="click"
				inject-click-function="findSpecific('','')"
				inject-text="All">
			</option-button>
			<option-button
				inject-button-type="click"
				inject-click-function="findSpecific('','none')"
				inject-text="New">
			</option-button>
			<option-button
				inject-button-type="click"
				inject-click-function="findSpecific('','upvoted')"
				inject-text="Saved">
			</option-button>
			<option-button
				inject-button-type="click"
				inject-click-function="findSpecific('','downvoted')"
				inject-text="Hidden">
			</option-button>
		</div>
	</div>
	<display-list inject-list="applications" inject-view-type="grid" inject-module-name="application"></display-list>
</section>
