<section class="container" data-ng-controller="ApplicationsController" data-ng-init="userCheck.redirectIfNotLoggedIn();find()">
	
	<div class="page-header row">
		<div class="col-lg-6">
			<h1>My Applications</h1>
		</div>
	</div>
	<display-list inject-list="applications" inject-module-name="application" inject-view-type="row"></display-list>
</section>
