<section data-ng-controller="ApplicationsController" data-ng-init="setApplications(list)">
	<div data-ng-switch="viewType">
		<div class="panel panel-blank" data-ng-switch-when="grid">
			<!--
			<div class="panel-heading text-center">
				<h3 class="panel-title">{{application.user.displayName}}</h3>
			</div>
			--!>
			<div class="panel-body">
				<a data-ng-href="#!/applications/{{application._id}}" style="text-decoration:none">
					<span data-ng-if="application.user.profilePicUrl">
							<img class="img-responsive userImage" ng-src="{{application.user.profilePicUrl}}">
					</span>
					<span data-ng-if="!application.user.profilePicUrl">
							<img class="img-responsive userImage" 
							ng-src="http://placehold.it/{{globalSettings.applicationProfileImageWidth}}x{{globalSettings.applicationProfileImageHeight}}&text=No+Image">
					</span>
				</a>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-lg-6">
						<span data-ng-show="application.voteStatus!='upvoted'">
							<span class="btn btn-primary" data-ng-click="accept(application);">
								<i class="glyphicon glyphicon-thumbs-up"></i>
								<span>Save</span>
							</span>
						</span>
						<span data-ng-show="application.voteStatus=='upvoted'" class="label label-success" style="font-size:100%" >Saved</span>
					</div>
					<div class="col-lg-6">
						<span data-ng-show="application.voteStatus!='downvoted'">
							<span class="btn btn-danger" data-ng-click="hide(application);">
								<i class="glyphicon glyphicon-thumbs-down"></i>
								<span>Hide</span>
							</span>
						</span>
						<span data-ng-show="application.voteStatus=='downvoted'" class="label label-danger" style="font-size:100%" >Hidden</span>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-switch-default>
			<div class="list-group">
				<a  data-ng-href="#!/applications/{{application._id}}" class="col-lg-11 list-group-item" >
					<div data-ng-switch="customTemplate">
						<div data-ng-switch-default>
							<h4 class="list-group-item-heading">Application for: {{application.casting_applied_for.title}}</h4>
						</div>

					</div>
					<small class="list-group-item-text">
						<em class="text-muted">
							Submitted on
							<span>{{application.created | date:'MMM dd'}}</span>
						</em>
					</small>
				</a>
			</div>
		</div>
	</div>
</section>
