<section class="container" data-ng-controller="ApplicationsController" data-ng-init="userCheck.redirectIfNotLoggedIn();redirectIfNotEitherFindOne(); ">
	<div data-ng-if="application.name">
		<div class="page-header row">
			<div class="col-lg-6">
				<h1>{{application.name}}'s Application</h1>
				<option-button
					inject-button-type="href"
					inject-href="/#!/users/profile/{{application.user.userUrl}}" 
					inject-text="View {{application.user.displayName}}'s Profile">
				</option-button>
				<option-button
					inject-button-type="href"
					inject-href="/#!/castings/{{application.casting_applied_for._id}}" 
					inject-text="View Casting Post">
				</option-button>
			</div>
			<div class="col-lg-6">
				<div class="pull-right">
					<!--The user that submitted application --!>
					<div data-ng-if="userCheck.isSameUser(authentication.user, application.user)">
						<option-button
							inject-button-type="href"
							inject-href="/#!/applications/{{application._id}}/edit" 
							inject-show-if="application.casting_applied_for.progress=='hiring'"
							inject-text="Edit Application">
						</option-button>
					</div>
					<!--The employer--!>
					<div data-ng-if="userCheck.isSameUser(authentication.user, application.employer)">
						<option-button 
							inject-button-type="click"
							inject-button-class-extension="btn-success"
							inject-click-function="accept();" 
							inject-text="Upvote Application">
						</option-button>
					</div>
				</div>
			</div>
		</div>
	<!--Page body--!>
		<div class="row">
			<div class="col-lg-12">
				<small>
					<em class="text-muted">
						Submitted on
						<span data-ng-bind="application.created | date:'mediumDate'"></span>
						by
						<a href="#!/users/profile/{{application.user.userUrl}}">
						{{application.user.displayName}}</a>
					</em>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<span>{{application.message}}</span>
				<span data-ng-if="!application.message">No message was entered.</span>
			</div>
			<div class="col-lg-12">
				<label>Contact Info: </label>
				<span>{{application.contactInfo}}</span>
				<span data-ng-if="!application.message">No message was entered.</span>
			</div>
		</div >
	</div>
	<!--Flashes this section while loading
	<div data-ng-if="!application.name">
		<div class="page-header row">
			<div clas="col-lg-12">
				<p class="alert alert-danger">Application does not exist, or application has been removed</p>
			</div>

		</div>
	</div>
	--!>

</section>
