<section class="container" data-ng-controller="UserProfileController" data-ng-init="find()">
	<div class="page-header row">
		<div class="col-lg-12">
			List of users
		</div>
	</div>
	<display-list inject-list="users" inject-module-name="user"></display-list>
</section>
