<section>
	<a data-ng-href="#!/users/profile/{{user.userUrl}}" class="list-group-item">
		<div data-ng-switch="customTemplate">
			<div data-ng-switch-default>
				<div class="list-group-item-text">
				</div>
				<div class="list-group-item-heading">
					{{user.displayName}}
				</div>
				<div class="list-group-item-text">
				</div>
			</div>
			<div data-ng-switch-when="1">
			</div>
			<div data-ng-switch-when="2">
			</div>

		</div>
	</a>
</section>
