<section class="container" data-ng-controller="UserProfileController" data-ng-init="findOne()">
	<div class="row">
		<div data-ng-if="user.displayName">
			<div class="page-header row">
				<div class="col-lg-3 text-center">
					<h1>{{user.displayName}}</h1>
					<span data-ng-if="user.profilePicUrl">
						<a ng-href="{{user.profilePicUrl}}">
							<img ng-src="{{user.profilePicUrl}}" class="userImage img-responsive">
						</a>
					</span>
				</div>
				<div class="col-lg-6" >
					<div data-ng-if="youtubeUrlEmbed">
						<div class="col-lg-12">
							<iframe width="560" height="315" src="{{youtubeUrlEmbed}}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="pull-right">
						<div data-ng-if="userCheck.isSameUser(authentication.user, user)">
							<option-button
								inject-button-type="href"
								inject-href="/#!/settings/profile" 
								inject-text="Edit Profile">
							</option-button>
						</div>
					</div>
				</div>
			</div>
			<display-field
				inject-type="text"
				inject-model="user"
				inject-field="overview">
			</display-field>
			<display-field
				inject-type="text"
				inject-model="user"
				inject-field="workHistory">
			</display-field>
			<div class="row" data-ng-if="user.height">
				<label class="col-lg-2 text-right">Height (In Feet):</label>
				<span class="col-lg-10">
					{{user.height}}
				</span>
			</div>
			<div class="row" data-ng-if="user.portrayableAgeMin && user.portrayableAgeMax">
				<label class="col-lg-2 text-right">Portrayable Age From: </label>
				<span class="col-lg-10">
					{{user.portrayableAgeMin}} To {{user.portrayableAgeMax}}
				</span>
			</div>
			<display-field
				inject-type="text"
				inject-model="user"
				inject-field="union">
			</display-field>
			<display-field
				inject-type="text"
				inject-model="user"
				inject-field="gender">
			</display-field>
			<display-field
				inject-type="list"
				inject-model="user"
				inject-field="portrayableEthnicity">
			</display-field>
			<display-field
				inject-type="list"
				inject-model="user"
				inject-field="languages">
			</display-field>
			<display-field
				inject-type="list"
				inject-model="user"
				inject-field="skills">
			</display-field>
		</div>
		<div data-ng-if="!user.displayName">
			<div class="page-header row">
				<div clas="col-lg-12">
					<p class="alert alert-danger">User does not exist, or has been removed</p>
				</div>

			</div>
		</div>
	</div>
</section>
