<section class="container" data-ng-controller="NotificationsController" data-ng-init="userCheck.redirectIfNotLoggedIn();find()">
	<div class="page-header row">
		<div class="col-lg-12">
			<h1>Notifications</h1>
		</div>
	</div>
	<display-list inject-list="notifications" inject-module-name="notification" inject-custom-function="remove(notification)"></display-list>
</section>
