<section>
	<div class="list-group">
		<a data-ng-href="#!/notifications/{{notification._id}}" class="col-lg-11 list-group-item" 
			ng-class="{'list-group-item-warning': notification.seen == false}" >
			<div data-ng-switch="customTemplate">
				<div data-ng-switch-default>
					<small class="list-group-item-text">
						Posted on
						<span data-ng-bind="notification.created | date:'medium'"></span>
						by
						<span data-ng-bind="notification.createdBy"></span>
					</small>
					<div class="pull-right">
					<span class="badge" data-ng-show="notification.seen!=true">Unread</span>

					</div>
					<h4 class="list-group-item-heading" data-ng-bind="notification.name"></h4>
				</div>
			</div>
		</a>
		<div class="col-lg-1">
			<span class="btn btn-primary" data-ng-click="customFunction({notification: notification});">
				<i class="glyphicon glyphicon-trash"></i>
				<span>Delete</span>
			</span>
		</div>
	</div>
</section>
