<section class="container" data-ng-controller="NotificationsController" data-ng-init="ifNotAuthorizedRedirectFindOne()">
	<div class="page-header row">
		<div class="col-lg-6">
			<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="notification.created | date:'MMM dd'"></span>
					by
					<span data-ng-bind="notification.createdBy"></span>
				</em>
			</small>
		</div>
		<div class="col-lg-6">
			<div class="pull-right">
				<option-button
					inject-button-type="click"
					inject-click-function="remove()" 
					inject-text="Delete">
				</option-button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<p ng-bind-html="notification.message | unsafe"></p>
		</div>
	</div>
</section>
